.categories-list
  .category-title
	margin-top: 2rem
	margin-bottom: 1rem
	font-size: 1.5rem
	border-bottom: 1px solid #eee
	padding-bottom: 0.5rem
  
  .post-list
	list-style-type: none
	padding-left: 0
	
	.post-item
		margin-bottom: 0.8rem
		display: flex
		align-items: baseline
	  
		.meta
			flex-shrink: 0
			color: #999
			font-size: 0.85rem
			margin-right: 1.5rem

		.updated-time
			color: #bbb
			font-size: 0.8rem